body{
    background-color: #ffe6a7;
}
h1, h2{
    color: #432818;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 25px;
}
h3{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
div{
    background-color: #99582a;
   
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    
}
a:hover{
    color: #bb9457;
    

}
a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}